* {
    margin: 0 auto;
}

body {
    font-family: "Verdana" , sans-serif;
    text-transform: uppercase;
    color: ;
    
}

header {
    position: relative;
}

#header-text {
    position: absolute;
    top: 200px;
}