* {
    margin: 0 auto;
}

body {
    font-family: "Verdana" , sans-serif;
    text-transform: uppercase;
    
}

header {
    position: relative;

}

#header-text {
    position: absolute;
}

img#man-1 {
    display: none;
}

img#man-2 {
    display: none;
}